.selected_lang {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 8px;
	font-weight: bold;
	user-select: none;
}

.selected_flag {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.selected_lang_text {
	color: var(--header-footer-font-color);
}
