:root {
	--main-font: "Manrope", Inter, system-ui, Avenir, Helvetica, Arial;

	--font-color: black;
	--list-bg-color: #3b82f6;
	--list-item-bg-color: #3b82f6;
	--btn-bg-color: #264773;
	--btn-border-color: #143157;
	--header-footer-bg-color: #010d26;
	--header-footer-font-color: #d9d9d9;
	--card-front-bg-color: #f2f2f2;
	--card-back-bg-color: #959ba5;

	--title-size: 32px;
	--card-title-size: 28px;
	--card-project-title-size: 22px;
	--card-subtitle-size: 24px;
	--subtitle-size: 20px;
	--p-size: 14px;
	--card-p-size: 14px;
	--header-nav-size: 26px;
	--footer-title-size: 28px;
	--footer-p-size: 18px;
	--home-title-size: 40px;
	--home-p-size: 20px;
	--pages-overview-size: 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: var(--main-font);
}

li {
	list-style: none;
}

ins {
	text-decoration: underline;
}

.content_change {
	width: 80%;
	margin: 3em auto;
	border: none;
	height: 3px;
	background: linear-gradient(90deg, black, black);
	border-radius: 2px;
	opacity: 0.8;
}
